<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="sidebar-overlay theme-base-08">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');
        var header = document.querySelector('.masthead');

        // XX: show the bar! 🍻
        checkbox.checked = true;

        // listen for scroll event to do positioning & highlights
        window.addEventListener('scroll', updateSidebar);
        window.addEventListener('resize', showSidebar);

        function updateSidebar () {
          var doc = document.documentElement;
          var top = doc && doc.scrollTop || document.body.scrollTop;
          var headerHeight = header.offsetHeight;
          if (top > headerHeight) {
            sidebar.className = 'sidebar fix-sidebar';
          } else {
            sidebar.className = 'sidebar';
          }
        }

        function showSidebar () {
          if(window.innerWidth > 895){
            checkbox.checked = true;
          }
        }

      })(document);
    </script>
  </body>
</html>
